<!-- <p-megaMenu [model]="items2"></p-megaMenu> -->
<p-menubar [model]="items"></p-menubar>


<!-- <button class="btn btn-danger">Go</button> -->

<!-- 
<p-tabMenu [model]="items"></p-tabMenu>
<p-tabMenu [model]="items">
  <ng-template pTemplate="item" let-item let-i="index">
      //item content
  </ng-template>
</p-tabMenu>



<p-toolbar>
  <div class="p-toolbar-group-start">
      <p-button label="New" icon="pi pi-plus"></p-button>
      <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button>

      <i class="pi pi-bars"></i>

      <p-splitButton label="Save" icon="pi pi-check" [model]="items" styleClass="p-button-warning"></p-splitButton>
  </div>
  <p-dialog header="Title" [(visible)]="display">
    Content
</p-dialog>

<button type="button" (click)="showDialog()" icon="pi pi-info-circle" pButton label="Show"></button>
  <div class="p-toolbar-group-end">
      <p-button icon="pi pi-search"></p-button>
      <p-button icon="pi pi-calendar" styleClass="p-button-success"></p-button>
      <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
  </div>
</p-toolbar>

<div class="card">
  <div class="flex align-content-start flex-wrap card-container blue-container" style="min-height: 200px">
      <div class="flex align-items-center justify-content-center bg-blue-500 font-bold text-white border-round m-2" style="min-width: 200px; min-height: 50px">1</div>
      <div class="flex align-items-center justify-content-center bg-blue-500 font-bold text-white border-round m-2" style="min-width: 200px; min-height: 50px">2</div>
      <div class="flex align-items-center justify-content-center bg-blue-500 font-bold text-white border-round m-2" style="min-width: 200px; min-height: 50px">3</div>
  </div>
</div>

<button type="button" (click)="show()" pButton icon="pi pi-info-circle" label="Show"></button>

<button pButton type="button" label="Click" ></button>
<p-splitButton label="Save" icon="pi pi-check" (onClick)="save()" [model]="items"></p-splitButton>
<p-speedDial [model]="items"></p-speedDial> -->